<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyp.bookshare.mapper.admin.BookCommentLikesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fyp.bookshare.pojo.BookCommentLikes">
        <id column="id" property="id" />
        <result column="book_comment_id" property="bookCommentId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, book_comment_id, user_id
    </sql>

</mapper>
