<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyp.bookshare.mapper.admin.BookReviewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fyp.bookshare.pojo.BookReviews">
        <id column="id" property="id" />
        <result column="text" property="text" />
        <result column="created_date" property="createdDate" />
        <result column="user_id" property="userId" />
        <result column="book_id" property="bookId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, text, created_date, user_id, book_id
    </sql>

    <select id="getBookReviewsByUserId" resultType="com.fyp.bookshare.entity.dto.BookReviewDTO">
        SELECT
            br.id,
            b.title,
            b.img_url AS imgUrl,
            br.text,
            br.updated_date AS updatedDate,
            br.created_date AS createdDate
        FROM
            book_reviews AS br
            JOIN books AS b ON br.book_id = b.id
        WHERE
            br.user_id = #{userId}
    </select>

    <select id="getBookReviewById" resultType="com.fyp.bookshare.entity.dto.BookReviewDTO">
        SELECT
            br.id,
            b.title,
            br.text,
            br.book_id AS bookId
        FROM
            book_reviews AS br
            JOIN books AS b ON br.book_id = b.id
        WHERE
            br.id = #{id}
    </select>
</mapper>
