<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyp.bookshare.mapper.admin.DonationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fyp.bookshare.pojo.Donations">
        <id column="id" property="id" />
        <result column="donation_amount" property="donationAmount" />
        <result column="contribution_date" property="contributionDate" />
        <result column="user_id" property="userId" />
        <result column="fundraising_project_id" property="fundraisingProjectId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, donation_amount, contribution_date, user_id, fundraising_project_id
    </sql>

    <select id="getDonationsByUserId" resultType="com.fyp.bookshare.entity.dto.DonationDTO">
        SELECT
            d.id,
            d.donation_amount,
            d.contribution_date,
            fp.project_name AS fundraising_project_name
        FROM
            donations AS d
                JOIN fundraising_projects AS fp ON d.fundraising_project_id = fp.id
        WHERE
            d.user_id = #{userId}
    </select>
</mapper>
