<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyp.bookshare.mapper.admin.FundraisingProjectsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fyp.bookshare.pojo.FundraisingProjects">
        <id column="id" property="id" />
        <result column="project_name" property="projectName" />
        <result column="description" property="description" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="goal_amount" property="goalAmount" />
        <result column="amount_raised" property="amountRaised" />
        <result column="donation_count" property="donationCount" />
        <result column="status" property="status" />
        <result column="fundraising_organizer_id" property="fundraisingOrganizerId" />
        <result column="updated_date" property="updatedDate" />
        <result column="created_date" property="createdDate" />
        <result column="img_url" property="imgUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_name, description, start_date, end_date, goal_amount, amount_raised, donation_count, status, fundraising_organizer_id, updated_date, created_date, img_url
    </sql>

    <select id="selectFundraisingProjectSelectionsWithPagination" resultType="com.fyp.bookshare.entity.dto.FundraisingProjectSelectionsDTO">
        SELECT
            id,
            project_name
        FROM
            fundraising_projects
        WHERE
            project_name LIKE CONCAT('%', #{filter}, '%')
        ORDER BY
            project_name ASC
    </select>
</mapper>
