<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyp.bookshare.mapper.admin.PostCommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fyp.bookshare.pojo.PostComments">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="text" property="text" />
        <result column="created_date" property="createdDate" />
        <result column="like" property="like" />
        <result column="user_id" property="userId" />
        <result column="post_id" property="postId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, text, created_date, like, user_id, post_id
    </sql>

    <select id="getPostCommentsDTO" resultType="com.fyp.bookshare.entity.dto.PostCommentsDTO">
        SELECT
            pc.id AS id,
            u.username AS username,
            u.avatar AS avatar,
            pc.text AS text,
            pc.created_date AS createdDate,
            pc.likes AS likes,
            IF(pcl.post_comment_id IS NOT NULL, TRUE, FALSE) AS thumbed
        FROM
            post_comments pc
                JOIN
            users u ON pc.user_id = u.id
                LEFT JOIN
                (SELECT post_comment_id FROM post_comment_likes WHERE user_id = #{userId}) pcl ON pc.id = pcl.post_comment_id
        WHERE
            pc.post_id = #{postId}
        GROUP BY
            pc.id, u.username, u.avatar, pc.text, pc.created_date
        ORDER BY
            pc.created_date DESC
    </select>
</mapper>
