<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyp.bookshare.mapper.admin.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fyp.bookshare.pojo.Users">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="phone_number" property="phoneNumber" />
        <result column="is_bookshelf_visible" property="bookshelfVisible" />
        <result column="is_review_visible" property="reviewVisible" />
        <result column="is_contribution_visible" property="contributionVisible" />
    </resultMap>

</mapper>
